.addproduits{
    flex:4;
    background: #f0f2f5;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: calc((100vh - 70px));
    .header-add{
        padding: 15px;
        margin: 10px;
        // background: #18cbeb;
        background:#0a5a68;
        box-shadow: -2px 2px 2px 2px #e2e2e2; ;
        h1{
            font-size: 20px;
            font-family: Open sans,sans-serif;
            font-weight: 600;
            color:#fff;
            text-transform: uppercase;
        }
    }
}

.add-container{
    background: #fff;
    border-radius: 10px;
    box-shadow: -2px -2px 2px 2px #e2e2e2;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    border:1px solid #dfdfdf;
}

.infos-produit{
    display: flex;
    margin-top: 50px;
    border-top: 1px solid #dbdbdb;
    padding-top: 15px;
 .fourmi{
        display: flex;
        flex-direction: column;
    label{
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
    }
    select{
           margin-right: 30px;
            margin-top: 20px;
            outline: none;
            height: 40px;
            border: 1px solid #cfcfcf;
            font-family: 'Roboto';
            font-weight: 300;
            border-radius: 5px;
    }
    input{
        margin-right: 30px;
        margin-top: 20px;
        outline: none;
        border: 1px solid #cfcfcf;
        padding: 15px;
        height: 40px;
        font-family: 'roboto';
        font-weight: 300;
        border-radius: 5px;
    }
   span{
    color: red;
    font-family: 'Roboto';
    font-size: 14px;
   }
   
 }
}

.infos-fournisseur{
    
    display: flex;
    background: #fff;
    margin-top: 20px;
    .fourmi{
        display: flex;
        flex-direction: column;
    label{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }
   
        input{
            margin-right: 30px;
            margin-top: 20px;
            outline: none;
            height: 40px;
            border: 1px solid #cfcfcf;
            padding: 15px;
            font-family: 'roboto';
            font-weight: 300;
            border-radius: 5px;
        }
        span{
            color: red;
            font-family: 'Roboto';
            font-size: 14px;
           }
    }
    
}

.btn-save{
    margin-top: 20px;
    border: none;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    font-family: Open sans,sans-serif;
    background: #117dc5;
    color: #fff;
}