.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #837676;
    color: #0e0d0d;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
  }